.buy
  .buy__title
    購入内容の確認
  .buy__product
    .buy__product__image
      = image_tag @image_first.src.url

    .buy__product__name
      = "商品名：" + "#{@product.name}"

  .buy__payment
    = "支払い金額：" + "#{@product.price}" + "円"

  .buy__confirmation
    .buy__confirmation__credit_cards
      = "クレジットカード番号：" + "#{" **** **** **** " + @customer_card.last4}"
    .buy__confirmation__btn
      購入する
 