.productMain
  .showMain
    .itemBox
      -if user_signed_in? && current_user.id == @product.user_id
        .itemBox__menu
          %ul
            %li
              =link_to "編集する", "#"
            %li 
              =link_to "削除する", "#"
      .itemBox__name
        %h2 
          = @product.name
      .itemBox__body
        - @images.each do |image|
          = image_tag image.src.url
      .itemBox__price
        %p.price
          ¥
          = @product.price
        .itemBox__price-detail
          %span（税込） 
          %span 送料込み
      .itemBox__detail
        = @product.description
      .table
        %table
          %tr
            %td.td--left 出品者
            %td.td--right
              = @product.user.nickname
          %tr
            %td.td--left カテゴリー
            %td.td--right 
              %ul
                %li= link_to "ベビー・キッズ","#", class: "category" 
                %li= link_to "ベビー服（男の子用）〜95cm", "#", class: "category" 
                %li= link_to "アウター", "#", class: "category" 
          %tr
            %td.td--left ブランド
            %td.td--right 
              = @product.brand
                
          %tr
            %td.td--left 商品の状態
            %td.td--right
              = Condition.find(@product.condition_id).name
          %tr
            %td.td--left 配送料の負担
            %td.td--right
              = DeliveryCost.find(@product.delivery_cost_id).name
          %tr
            %td.td--left 発送元の地域
            %td.td--right 
              = Region.find(@product.region_id).name
          %tr
            %td.td--left 発送日の目安
            %td.td--right
              = PreparationDay.find(@product.preparation_day_id).name
      .optionArea
        %ul
          %li.optionalBtn.likeBtn 
            = icon('fa', 'star', class: 'star')
            お気に入り 0 
          %li.optionalBtn
            = icon('fa', 'flag', class: 'flag')  
            不適切な商品の通報
      - if user_signed_in? && current_user.id != @product.user_id
        .btn
          = link_to "購入画面へ進む", "#",class: "buyBtn"
      - elsif user_signed_in? && current_user.id == @product.user_id
      - else
        .btn
          = link_to "ログイン・新規登録すると商品を購入できます", "#", class: "buyBtn" 
           
    .commentBox
      = form_with(url: "#", local: true, method: :post, class: "form__text") do |form|
        = form.text_area :comment, size: "70x4"
        .notice 
          相手のことを考え丁寧なコメントを心がけましょう。
          %br 不快な言葉遣いなどは、利用制限や退会処分となることがあります。
        = button_tag type: "submit", class: "commentBtn" do 
          %i.fas.fa-comment 
          = "コメントする"
    
    .links
      .links__back
        = link_to "< 前の商品", "#", class:"goToLink"
      .links__forward
        = link_to "次の商品 >", "#", class:"goToLink"
    .relatedItems
      = link_to "ベビー・キッズをもっと見る", "#" , class:"seeMore"
      .productLists      
        .productList
          = link_to "#", class:"productLink" do
            .productList__img
              =image_tag 'IMG_02.png', :size =>'220', class: "list__img"
            .productList__body
              .productList__body__name
                ccc
              .productList__body__details
                .productList__body__details__price 1000円
                .productList__body__details__star
                  = icon('fa', 'star', class: 'star')
                  0
              %p.productList (税込)
