!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title FleamarketSample73a
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      .header
        .header__innar
          .header__innar__main
            =link_to  "root_path" do
              = image_tag asset_path("logo.png"), alt: 'FURIMA logo', class: 'header__innar__main__Logo'
            =form_with(url: "/",local: true, method: :get, class: "header__innar__main__form") do |form|
              =form.text_field :keyword, placeholder: "キーワードから検索する", class: "header__innar__main__form__SearchInput"
              =button_tag type: 'submit',class: "header__innar__main__form__SearchButton" do
                %i.fas.fa-search
          .header__innar__navi
            .header__innar__navi__left
              .header__innar__navi__left__category カテゴリー
              .header__innar__navi__left__brand ブランド
            .header__innar__navi__right
              =link_to "ログイン", "/",class:"header__innar__navi__right__login"
              =link_to "新規会員登録", "/", class: "header__innar__navi__right__new" 
      = yield
